In [3]:
import pandas as pd

Read and evaluate train data

In [10]:
sales_data = pd.read_csv("data/train.csv", sep=",", index_col="id")

sales_data.describe().T

,count,mean,std,min,25%,50%,75%,max
store_nbr,3000888.0,27.500000,15.585787,1.0,14.0,27.5,41.00000,54.0
sales,3000888.0,357.775749,1101.997721,0.0,0.0,11.0,195.84725,124717.0
onpromotion,3000888.0,2.602770,12.218882,0.0,0.0,0.0,0.00000,741.0

In [9]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000888 entries, 0 to 3000887
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   date         object
 1   store_nbr    int64
 2   family       object
 3   sales        float64
 4   onpromotion  int64
dtypes: float64(1), int64(2), object(2)
memory usage: 137.4+ MB

Fix data types and remove nan values if any

In [12]:
sales_data["date"] = pd.to_datetime(sales_data["date"])

# Set date as index
sales_data = sales_data.set_index(sales_data["date"])

sales_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3000888 entries, 2013-01-01 to 2017-08-15
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   date         datetime64[ns]
 1   store_nbr    int64
 2   family       object
 3   sales        float64
 4   onpromotion  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 137.4+ MB

In [13]:
nan_count = sales_data.isna().sum()
print(nan_count)

date           0
store_nbr      0
family         0
sales          0
onpromotion    0
dtype: int64